
#nav {
    z-index: 100;
    display: flex;
    position: fixed;
    align-items: center;
    min-height: 50px;
    margin-top: auto;
    padding: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
}

ul {
    display: flex;
    justify-content: center;
    text-align: center;
    color: ghostwhite;
}

