
#nav-wrap {
    z-index: 100;
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: fixed;
    align-items: center;
    min-height: 50px;
    margin-top: auto;
    padding: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
}
.navbar-nav {
    position: relative!important;
    /* top: 0px; */
}
.navbar-nav > a {
    font-size: 20px;
    margin: 4px 24px 4px 24px;
    color: rgb(201, 201, 201)!important;
}
.navbar-nav > a:hover {
    color: rgba(134, 139, 134, 0.938)!important;
    cursor: pointer;
}
ul {
    display: flex;
    justify-content: center;
    text-align: center;
    color: ghostwhite;
}
/* adjust size of nav slightly to fix small gap */
@media only screen and (max-width: 768px) {
    /* .navbar {
        height: 59px;
    }
    .navbar-collapse {
        height: 172px;
    } */
}
