.worksContainer {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .9;
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 4%;
    padding-right: 4%;
}

.work-item {
    display: flex;
}

.items {
    height: auto;
    width: 75%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    opacity: .9;
    color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 0 0 20px rgb(5, 5, 5);
}
.item-img {
    height: auto;
    width: 25%;
    padding: 10px;
    opacity: .9;
}

h4 {
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
}

.viewDetails {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.react-img {
    height: 120px;
    width: 120px;
    padding: 10px;
    align-items: center;
}

.work-item > .items > h6 {
    color: yellow;
}
.work-item > .items > h3 {
    color: rgb(162, 26, 224);
}

.work-item > .items > p {
    color: rgb(151, 211, 245);
}

.work-item > .items > a {
    color: rgb(243, 243, 243);
    width: 20%;
}

.work-item > .items > a:hover {
    color: rgb(190, 115, 115);
    text-decoration: none;
}
