.worksContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(228, 228, 228);
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.opacityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgba(70, 69, 69, 0.514);
    padding-left: 20px;
}